<md-sidenav-layout>
	<md-sidenav #start>
		<md-nav-list>
			<md-list-item><a [routerLink]="['/']">Ma Collection</a></md-list-item>
			<md-list-item><a [routerLink]="['/pokemon']">Lister les Pokemons</a></md-list-item>
		</md-nav-list>
	</md-sidenav>
	<md-toolbar color="primary">
		<button md-button (click)="start.toggle()"><md-icon>home</md-icon></button>
		<span>{{title}}</span>

		<span class="app-toolbar-filler"></span>
	</md-toolbar>
	<div class="app-content">
		<router-outlet></router-outlet>
	</div>
</md-sidenav-layout>