<div>
	<h2>{{ title }}</h2>
	<md-card>
		<md-card-title>Pikachu</md-card-title>   
		<md-card-content>
		    <p>Types: éclair, souris, jaune</p>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
		    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
		</md-card-content>
		<md-card-actions>
		    <button md-button [routerLink]="['/pokemon/1']">VIEW</button>
		</md-card-actions>
	</md-card>
	<md-card>
		<md-card-title>Pikachu</md-card-title>   
		<md-card-content>
		    <p>Types: éclair, souris, jaune</p>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
		    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
		</md-card-content>
		<md-card-actions>
		    <button md-button [routerLink]="['/pokemon/1']">VIEW</button>
		</md-card-actions>
	</md-card>
	<md-card>
		<md-card-title>Pikachu</md-card-title>   
		<md-card-content>
		    <p>Types: éclair, souris, jaune</p>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
		    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
		</md-card-content>
		<md-card-actions>
		    <button md-button [routerLink]="['/pokemon/1']">VIEW</button>
		</md-card-actions>
	</md-card>
	<md-card>
		<md-card-title>Pikachu</md-card-title>   
		<md-card-content>
		    <p>Types: éclair, souris, jaune</p>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
		    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
		</md-card-content>
		<md-card-actions>
		    <button md-button [routerLink]="['/pokemon/1']">VIEW</button>
		</md-card-actions>
	</md-card>
</div>